<div class="col col-sm-12">
  <div class="card mb-3">
    <div class="card-header">
      Transaction
    </div>
    <div class="card-body">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped row-border hover">
        <thead id="table">
          <tr>
              <th>Code</th>
              <th>Organization</th>
              <th>Vendor</th>
              <th>Courier</th>
              <th>Customer</th>
              <th>Transaction Date</th>
              <th *ngIf="!isDelivered">Return Reason</th>
              <th *ngIf="!isDelivered">Notes</th>
              <th *ngIf="isDelivered">Delivered Person</th>
              <th *ngIf="isDelivered">ID Types</th>
              <th *ngIf="isDelivered">ID Number</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let _item of list">
            <td>{{ _item.Code }}</td>
            <td>{{ _item.Organization?.Name }}</td>
            <td>{{ _item.Vendor?.Name }}</td>
            <td>{{ _item.Customer?.Name }}</td>
            <td>{{ _item.ShipmentValue }}</td>
            <td>{{ _item.ShipmentDt.year + '/' + _item.ShipmentDt.month + '/' + _item.ShipmentDt.day }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
