<div [@routerTransition]>
    <!--<app-page-header [heading]="'Makes'" [icon]="'fa-car'"></app-page-header>-->
    <form name="detailsForm" #detailsForm="ngForm" class="row" (ngSubmit)="save();" novalidate>
        <div class="col col-sm-12">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-3">
                            <label>Date From
                                <span class="text-danger">*</span>: </label>
                            <div class="form-group">
                                <div class="input-group datepicker-input">
                                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="item.DateFrom" ngbDatepicker required #dd="ngbDatepicker"
                                        #FromDT="ngModel" />
                                    <button class="input-group-addon" (click)="dd.toggle()" type="button">
                                        <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                                        <span class="fa fa-calendar"></span>
                                    </button>
                                </div>
                                <div *ngIf="FromDT.invalid && (FromDT.dirty || FromDT.touched)" class="alert alert-danger">
                                    <div *ngIf="FromDT.errors['required']">Date From is required.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                                <label>Date To
                                    <span class="text-danger">*</span>: </label>
                                <div class="form-group">
                                    <div class="input-group datepicker-input">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="item.DateTo" ngbDatepicker required #ddt="ngbDatepicker"
                                            #ToDT="ngModel" />
                                        <button class="input-group-addon" (click)="ddt.toggle()" type="button">
                                            <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                                            <span class="fa fa-calendar"></span>
                                        </button>
                                    </div>
                                    <div *ngIf="ToDT.invalid && (ToDT.dirty || ToDT.touched)" class="alert alert-danger">
                                        <div *ngIf="ToDT.errors['required']">Date To is required.</div>
                                    </div>
                                </div>
                            </div>
                        <div class="col-xl-3">
                            <label>Code</label>
                            <div class="form-group">
                                <input #Code="ngModel" name="Code" class="form-control" type="text"  pattern="{{patterns.Alphanumeric}}" [(ngModel)]="item.Code"
                                    autofocus />
                            </div>

                        </div>
                        <div class="col-xl-3">
                            <label>Name</label>


                            <div class="form-group">
                                <input #NameEn="ngModel" name="NameEn" class="form-control" type="text"  pattern="{{patterns.Alphanumeric}}" [(ngModel)]="item.NameEn"
                                    autofocus />
                            </div>

                        </div>
                        <div class="col-xl-3">
                            <label>Address</label>

                            <div class="form-group">
                                <input #Address="ngModel" name="Address" class="form-control" type="text"  pattern="{{patterns.Alphanumeric}}" [(ngModel)]="item.Address"
                                    autofocus />
                            </div>

                        </div>
                        <div class="col-xl-3">
                            <label>Phone Number</label>

                            <div class="form-group">
                                <input #Mobile="ngModel" name="Mobile" class="form-control" type="text"  pattern="{{patterns.Alphanumeric}}" [(ngModel)]="item.Mobile"
                                    autofocus />
                            </div>

                        </div>
                        <div class="col-xl-3">
                            <label>Shipment Date
                               </label>
                            <div class="form-group">
                                <div class="input-group datepicker-input">
                                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="item.ShipmentDt" ngbDatepicker  #d="ngbDatepicker"
                                        #ShipmentDt="ngModel" />
                                    <button class="input-group-addon" (click)="d.toggle()" type="button">
                                        <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                                        <span class="fa fa-calendar"></span>
                                    </button>
                                </div>
                               
                            </div>
                        </div>

                        <div class="col-xl-3">
                            <label class="btn btn-primary active">
                                <input type="radio" name="options" id="option1" value="HOY" 
                                [(ngModel)]="sinImputarValue"> 1
                                </label>
                                <label class="btn btn-primary">
                                <input type="radio" name="options" id="option2" value="SEMANA" 
                                [(ngModel)]="sinImputarValue"> 2
                                </label>
                                <label class="btn btn-primary">
                                <input type="radio" name="options" id="option3" value="MES" 
                                [(ngModel)]="sinImputarValue"> 3
                                </label>
                                </div>
                        </div>
                        
                    </div>
                </div>
                <div class="card-footer">
                    <div class="text-right">
                        <button class="btn btn-success" [disabled]="detailsForm.invalid" type="submit">Save
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>


            </div>
        </div>
    </form>
</div>