<div class="col col-sm-12">
  <div class="card mb-3">
    <div class="card-header">
      Shipment <button class="btn btn-sm pull-right btn-success" (click)="open()"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>

    <div class="card-body">
       
      <input type="file" ng2FileSelect [uploader]="uploader" />

        <table>
      <tr *ngFor="let item of uploader.queue">
        <td><strong>{{ item?.file?.name }}</strong></td>
        <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
        <td *ngIf="uploader.isHTML5">
            <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
            </div>
        </td>
        <td class="text-center">
            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
            <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
        </td>
        <td nowrap>
            <button type="button" class="btn btn-success btn-xs"
                    (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                <span class="glyphicon glyphicon-upload"></span> Upload
            </button>
         
            
        </td>
    </tr>  
  </table>
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped row-border hover">
        <thead id="table">
          <tr>
            <th class="codeWidth">Code</th>
            <th>Organization</th>
            <th>Vendor</th>
            <th>Customers</th>
            <th>Shipment Value</th>
            <th>Shipment Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let _item of list">
            <td>{{ _item.Code }}</td>
            <td>{{ _item.Organization?.Name }}</td>
            <td>{{ _item.Vendor?.Name }}</td>
            <td>{{ _item.Customer?.Name }}</td>
            <td>{{ _item.ShipmentValue }}</td>
            <td>{{ _item.ShipmentDt.year + '/' + _item.ShipmentDt.month + '/' + _item.ShipmentDt.day }}</td>
            <td>
              <button class="btn btn-sm btn-success" (click)="open(_item)"><i class="fa fa-eye" aria-hidden="true"></i></button>
              <button
                class="btn btn-sm btn-danger"
                mwlConfirmationPopover
                popoverTitle="Confirm Delete ?"
                (confirm)="delete(_item.ID)"
                cancelText="No <i class='fa fa-ban' aria-hidden='true'></i>"
                confirmText="Yes <i class='fa fa-check' aria-hidden='true'></i>"
              >
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
