<div [@routerTransition]>
  <div class="row" [hidden]="operation != 'view'"><app-shipment-list [list]="list" (notify)="open($event)"></app-shipment-list></div>
  <form name="detailsForm" #detailsForm="ngForm" class="row" (ngSubmit)="save()" [hidden]="operation == 'view'" novalidate>
    <div class="col col-sm-12">
      <div class="card mb-3">
        <div class="card-header">
          <span [hidden]="operation != 'add'">Add New Make</span> <span [hidden]="operation != 'edit'">Edit {{ item?.Name }}</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-xl-6">
              <label>Code <span class="text-danger">*</span>: </label>
              <div class="form-group">
                <input
                  #Code="ngModel"
                  name="Code"
                  class="form-control"
                  type="text"
                  required
                  pattern="{{ patterns.Alphanumeric }}"
                  [(ngModel)]="item.Code"
                  autofocus
                  autocomplete="Disable"
                />
              </div>
              <div *ngIf="Code.invalid && (Code.dirty || Code.touched)" class="alert alert-danger">
                <div *ngIf="Code.errors.required">Code is required.</div>
                <div *ngIf="Code.errors.pattern">Code is not valid.</div>
              </div>
            </div>
            <div class="col-xl-6">
              <ng-template #rt let-r="result" let-t="term"> <ngb-highlight [result]="r.Name" [term]="t"></ngb-highlight> </ng-template>

              <label for="Organization">Organization <span class="text-danger">*</span>:</label>
              <input
                name="Organization"
                type="text"
                class="form-control"
                [(ngModel)]="item.Organizations_Id"
                [ngbTypeahead]="searchOrg"
                (focus)="focus$.next($event.target.value)"
                (click)="click$.next($event.target.value)"
                #Organization="ngbTypeahead"
                [resultTemplate]="rt"
                [inputFormatter]="formatter"
              />
              <div *ngIf="Organization.invalid && (Organization.dirty || Organization.touched)" class="alert alert-danger">
                <div *ngIf="Organization.errors.required">Organization is required.</div>
              </div>
            </div>
            <div class="col-xl-6"></div>
          </div>
        </div>
        <div class="card-footer">
          <div class="text-right">
            <button type="button" class="btn btn-default" (click)="back()">
              <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
            </button>
            <button class="btn btn-success" [disabled]="detailsForm.invalid" type="submit">
              Save <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
