<div [@routerTransition]>
        <!--<app-page-header [heading]="'Makes'" [icon]="'fa-car'"></app-page-header>-->
        <div class="row" [hidden]="operation!='view'">
            <div class="col col-sm-12">
                <div class="card mb-3">
                    <div class="card-header">
                        Area
                        <button class="btn btn-sm pull-right btn-success" (click)="open()">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="card-body">
    
                        <div class="row">
                            <div class="col-xl-6">
                                <label>Country</label>
                                <div class="form-group">
                                    <angular2-multiselect 
                                    [data]="Countries" 
                                    [(ngModel)]="selectedItems"
                                     [settings]="settings"
                                      (onSelect)="onItemSelect($event)"
                                        (onDeSelect)="OnItemDeSelect($event)"
                                         (onSelectAll)="onSelectAll($event)" 
                                         (onDeSelectAll)="onDeSelectAll($event)">
                                    </angular2-multiselect>
                                    
                                </div>
    
                            </div>
                            <div class="col-xl-6">
                                    <label>City</label>
                                    <div class="form-group">
                                        <angular2-multiselect 
                                        [data]="Cities" 
                                        [(ngModel)]="selectedItemsCity"
                                         [settings]="settingsCity"
                                          (onSelect)="onItemSelectCity($event)"
                                            (onDeSelect)="OnItemDeSelectCity($event)"
                                             (onSelectAll)="onSelectAllCity($event)" 
                                             (onDeSelectAll)="onDeSelectAllCity($event)">
                                        </angular2-multiselect>
                                        
                                    </div>
                                        <div class="form-group">
                                            <form autocomplete="off">
                                                    <input class="form-control"
                                                     name="City"
                                                      type="text"
                                                       autocomplete
                                                        [config]="configCity" 
                                                        required 
                                                        [items]="Cities" 
                                                         (selectEvent)="CitySelected($event)">
                                            </form>
                                        </div>
        
                                </div>
                        </div>
                        <hr/>
                            <div class="">
                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped row-border hover">
                                    <thead id="table">
                                        <tr>
                                            <th>Code</th>
                                            <th>Name English</th>
                                            <th>Name Arbic</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let _item of list">
                                            <td>{{_item.Code}}</td>
                                            <td>{{_item.NameEn}}</td>
                                            <td>{{_item.NameAr}}</td>
                                            <td>
                                                <button class="btn btn-sm btn-success" (click)="open(_item)">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </button>
                                                <button class="btn btn-sm btn-danger" mwlConfirmationPopover popoverTitle="Confirm Delete ?" (confirm)="delete(_item)" cancelText="No <i class='fa fa-ban' aria-hidden='true'></i>"
                                                    confirmText="Yes <i class='fa fa-check' aria-hidden='true'></i>">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form name="detailsForm" #detailsForm="ngForm" class="row" (ngSubmit)="save();" [hidden]="operation=='view'" novalidate>
                <div class="col col-sm-12" *ngIf="item">
                    <div class="card mb-3">
                        <div class="card-header">
                            <span [hidden]="operation!='add'">Add New Make</span>
                            <span [hidden]="operation!='edit'">Edit {{item?.Name}}</span>
    
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-6">
                                    <label>Code
                                        <span class="text-danger">*</span>: </label>
                                    <div class="form-group">
                                        <input #Code="ngModel" name="Code" class="form-control" type="text" required pattern="{{patterns.Alphanumeric}}" [(ngModel)]="item.Code"
                                            autofocus />
                                    </div>
                                    <div *ngIf="Code.invalid && (Code.dirty || Code.touched)" class="alert alert-danger">
                                        <div *ngIf="Code.errors['required']">
                                            Code is required.
                                        </div>
                                        <div *ngIf="Code.errors['pattern']">
                                            Code is not valid.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <label>Name English
                                        <span class="text-danger">*</span>: </label>
                                    <div class="form-group">
                                        <input #NameEn="ngModel" name="NameEn" class="form-control" type="text" required pattern="{{patterns.Alphanumeric}}" [(ngModel)]="item.NameEn"
                                            autofocus />
                                    </div>
                                    <div *ngIf="NameEn.invalid && (NameEn.dirty || NameEn.touched)" class="alert alert-danger">
                                        <div *ngIf="NameEn.errors['required']">
                                            NameEn is required.
                                        </div>
                                        <div *ngIf="NameEn.errors['pattern']">
                                            NameEn is not valid.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <label>Name Arbic
                                        <span class="text-danger">*</span>: </label>
                                    <div class="form-group">
                                        <input #NameAr="ngModel" name="NameAr" class="form-control" type="text" required pattern="{{patterns.TextAr}}" [(ngModel)]="item.NameAr"
                                            autofocus />
                                    </div>
                                    <div *ngIf="NameAr.invalid && (NameAr.dirty || NameAr.touched)" class="alert alert-danger">
                                        <div *ngIf="NameAr.errors['required']">
                                            NameAr is required.
                                        </div>
                                        <div *ngIf="NameAr.errors['pattern']">
                                            NameAr is not valid.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <button type="button" class="btn btn-default" (click)="back();">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
                                <button class="btn btn-success" [disabled]="detailsForm.invalid" type="submit">Save
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
</div>